@model IEnumerable<MedEvolution.Models.Departamento>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NombreDep)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.NombreDep)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.CodigoDepartamento }) |
            @Html.ActionLink("Details", "Details", new { id=item.CodigoDepartamento }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.CodigoDepartamento })
        </td>
    </tr>
}

</table>
