@model IEnumerable<MedEvolution.Models.Direccion>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Departamento.NombreDep)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Municipio.NombreMun)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Detalle)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Departamento.NombreDep)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Municipio.NombreMun)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Detalle)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { ColoniaID = item.Colonia, Pasaje_CalleID = item.Pasaje_calle, CasaID = item.Casa}) |
            @Html.ActionLink("Details", "Details", new { ColoniaID = item.Colonia, Pasaje_CalleID = item.Pasaje_calle, CasaID = item.Casa }) |
            @Html.ActionLink("Delete", "Delete", new { ColoniaID = item.Colonia, Pasaje_CalleID = item.Pasaje_calle, CasaID = item.Casa })
        </td>
    </tr>
}

</table>
